body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  /* Outer layer: Card groups are arranged using CSS Grid */
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 2rem; /* Card spacing */
  }

  /* Single emoji card style */
  .emoji {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Make the button stick to the bottom */
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    min-height: 320px; /* Highly consistent */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  } 
  
  /* Title style */
  .emoji h2 {
    order: 0;  
    margin: 0 ;
    border-bottom: 2px solid #ccc;
  }
  
  /* Button style */
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-top: auto;
  }

  /* emoji icon */
  .icon {
    font-size: 4rem;
    margin-bottom: 1rem;
    order: -1;  /* Make emoji appear before h2 */
    text-align: center; 
  }